# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
roadie

# Test binary, built with `go test -c`
*.test
cover.html

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*log

# Dependency directories
node_modules
dist
pkg/server/assets.go

# Data
config.roadie.json
.envrc
pkg/data/test_data/
pkg/destinations/test_data/
test_data/*go
